.Modal {
    position: fixed;
    z-index: 500;
    background-color: rgb(29, 27, 27);
    width: 50%;
    border: 1px solid #ac0464;
    border-radius: 0.7rem;
    box-shadow: 1px 2px 10px #ac0464;
    padding: 16px;
    left: 15%;
    top: 20%;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Modal p{
    margin: 0;

}

@media (min-width: 600px) {
    .Modal {
        width: 400px;
        left: calc(50% - 200px);
    }
}

.closeBtn{
    font-size: 30px;
    color: rgb(238,238,238, 0.2);
    cursor: pointer;
    font-weight: 700;
    position: fixed;
    top: 8px;
    right: 12px;
}